@media only screen and (max-width: 1074px) {
	.navbar {
		position: relative;
	}

	.navlist {
		display: none;
		flex-direction: column;
	}
	.navlist.active {
		display: block;
		/* width: 100%; */
	}
	.navbar {
		flex-direction: column;
		/* height: 50px; */
		/* transition: all 0.4s ease-out; */
		/* height: 382px; */
	}

	.logo {
		text-align: center;
		align-items: center;
	}

	.row {
		flex-direction: column;
	}
}

@media only screen and (max-width: 863px) {
	.leftcontent {
		flex-direction: column;
	}
	.background .home ul {
		display: flex;
		flex-direction: column;
		font-size: 18px;
		max-width: 80%;
		display: none;
	}
	.slogan-res {
		float: right;
		display: flex;
		flex-direction: column;
		position: relative;
	}
	.slogan-res div {
		font-size: 25px;
		font-weight: 600;
		color: #f7f7e8;
	}
	.smalltext {
		display: none;
	}
	.services .container .content {
		flex-direction: column;
	}
	.services .container .content img {
		max-width: 95%;
	}
	.services .container .content .leftcontent {
		flex-direction: column;
	}
	.about .content {
		flex-direction: column;
	}
	.about .content .box {
		max-width: 95vw;
	}
	footer .container {
		flex-direction: column;
		width: 100%;
	}
	footer .container .box {
		width: 100%;
	}
}
