/* .burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}
.line{
    width: 35px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;

} */
@media only screen and (max-width:1074px){
    .toggle_menu{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin: 22px 10px;
        background: #111;
        cursor: pointer;
        font-size: 30px;
        color: #d9d9d9;
    }
    .toggle_menu::before{
        content: '\f0c9';
        line-height: auto;
        font-family: fontAwesome;
    }
    /* .toggle_menu.active::after{
        content: '\f00d';
        line-height: auto;
    } */
    .navlist{
        display: none;
        flex-direction: column;

    }
    .navlist.active{
        display: block;
        /* width: 100%; */
    }
    .navbar{
        flex-direction: column;
        /* height: 50px; */
        /* transition: all 0.4s ease-out; */
        /* height: 382px; */
    }
    
    .logo{
        text-align: center;
        align-items: center;
    }
    
    .row{
        flex-direction: column;
    }
}

@media only screen and (max-width:863px){
    .leftcontent{
        flex-direction: column;
    }
    .logo{
        font-size: 2.0rem;
        width: 100%;
    }
    .background .home ul{
        display: flex;
        flex-direction: column;
        font-size: 18px;
        max-width: 80%;
        display: none;
    }
    .slogan-res{
        float: right;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .slogan-res div{
        font-size: 25px;
        font-weight: 600;
        color: #f7f7e8;
    }
    .smalltext{
        display: none;
    }
    .services .container .content{
        flex-direction: column;
    }
    .services .container .content img{
        max-width: 95%;
    }
    .services .container .content .leftcontent{
        flex-direction: column;
    }
    .about .content{
        flex-direction: column;
    }
    .about .content .box{
        max-width: 95vw;
    }
    footer .container{
        flex-direction: column;
        width: 100%;
    }
    footer .container .box{
        width: 100%;
    }
}
